body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img{
    height: 40px;
    width: 60px;
}

.img1{
    height: 20px;
    width: 30px;
}

header {
    background-color: #232F3E;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.search-bar {
    display: flex;
    flex-grow: 2;
    margin: 0 20px;
}

.search-bar input {
    width: 70%;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #FEBD69;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
}

.cart a {
    color: white;
    text-decoration: none;
}

nav {
    background-color: #232F3E;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product p {
    font-size: 16px;
    color: #B12704;
}

.product button {
    background-color: #FEBD69;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

footer {
    background-color: #232F3E;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}