
*{
    padding: 0;
    margin: 0;

}

section{
    background-color: rgb(94, 94, 86);
    padding-left: 22%;
}
#container{
    display: grid;
    grid-template-columns: 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh ;
    grid-template-rows: 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh ;
}

.hi{
    height: 12.5vh;
    width: 12.5vh;
}

.hi{
    height: 12.5vh;
    width: 12.5vh;
}

#hi2{
    background-color: black;
}

#hi4{
    background-color: white;
}

#hii2,#hiii2{
    background-color: black;
}

#hii4{
    background-color: white;
    background-image: url("/white\ soldier\ white.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#hii2{
    background-color: rgb(7, 6, 6);
    background-image: url("./black\ soldier\ black.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#hiii4{
    background-color: white;
    background-image: url("./white.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#hiii2{
    background-color: rgb(7, 6, 6);
    background-image: url("./Screenshot\ 2024-08-10\ at\ 10.46.16\ AM-removebg-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#block1{
    background-color: white;
    background-image: url("./rook\ white\ black.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

#block8{
    background-color: white;
    background-image: url("./Screenshot\ 2024-08-10\ at\ 11.07.12\ AM-removebg-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#block64{
        background-color: white;
        background-image: url("./Screenshot\ 2024-08-10\ at\ 11.09.05\ AM-removebg-preview.jpg");
        background-repeat: no-repeat;
        background-size: cover;
}

#block57{
    background-color: white;
    background-image: url("./Screenshot\ 2024-08-10\ at\ 11.09.05\ AM-removebg-preview-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#block63{
    background-color: white;
    background-image: url("./horse\ grey\ black.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#block58{
    background-color: white;
    background-image: url("./horse\ grey\ white.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#block2{
    background-color: white;
    background-image: url("./white\ horse\ black.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#block7{
    background-color: rgb(255, 255, 255);
    background-image: url("./white\ horse\ white.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#block3{
    background-color: white;
    background-image: url("./white\ bishop\ white.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#block6{
    background-color: rgb(255, 255, 255);
    background-image: url("./white\ bishop\ black.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#block62{
    background-color: white;
    background-image: url("./grey\ bish\ white.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#block59{
    background-color: white;
    background-image: url("./grey\ bish\ black.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#block60{
    background-color: white;
    background-image: url("./grey\ king.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#block61{
    background-color: white;
    background-image: url("./grey\ queen.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#block4{
    background-color: white;
    background-image: url("./king\ white.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#block5{
    background-color: white;
    background-image: url("./queen\ white.png");
    background-repeat: no-repeat;
    background-size: cover;
}
